<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dangerousthings.nfc">
    <uses-permission android:name="android.permission.NFC"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="PayloadActivity">
            <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="http" android:host="nfc.dangerousthings.com" android:pathPrefix="/payload/" />
            </intent-filter>
        </activity>
        <meta-data android:name="xposedmodule"
                   android:value="true" />
        <meta-data android:name="xposedminversion"
                   android:value="80" />
    </application>
</manifest>
